[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.1"
dj-database-url = "==0.4.2"
django-configurations = "==2.0"
whitenoise = "==3.3.1"
waitress = "==1.1.0"
django-extensions = "==1.9.9"
"psycopg2" = "==2.7.3.2"
django-hamlpy = "==1.1.1"
"django-sendgrid-v5" = "==0.6.87"


[dev-packages]

"flake8" = "==3.5.0"
